
body {
    background-color: rgb(42, 91, 165) !important;
    height: 0px;
    margin-left: 0px;
    margin-right: 0px;
    }


header {
    background-color: rgb(42, 91, 165) !important;
    color: white;
    font-size: 15px;
    padding: 0px; 
    padding left: 0px;
    height: 250px;
    height top: 200px;

    }
      
input#tickerSearch:nth-child(1) {
    padding: 0px;
    padding bottom: 0px;
    padding right: 10px;
    padding left: 10px;
    margin-left: 20px;
}

button:nth-child(2) {
    background-color: rgb(192, 214, 243);
    border-style: double;
    border-color: steelblue;
    position: center
}

form#tickerForm:nth-child(2) {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

h5 {
    background-color:rgb(59, 75, 148);
    color: white;
    font-size: 25px;
    margin: 0px
}

div.card-body {
background-color: white !important;
margin-left: 0px;
}

div.card.text-center.col-sm-4:nth-child(2) {
    background-color: grey;
}

button.popOut:nth-child(1) {
    background-color: rgb(192, 214, 243);
    border-style: double;
    border-color: steelblue;
}

li:nth-child(1) {
    background-color: rgb(155, 226, 12);
    color:rgb(244, 246, 250)
}

li:nth-child(2) {
    background-color: red;
    color:rgb(244, 246, 250)
}

li:nth-child(3) {
    background-color: rgb(37, 24, 24);
    color:rgb(244, 246, 250)

}

canvas#compChart:nth-child(4) {
    background-color: rgb(240, 238, 235);
}


#notabledata li {
    list-style-type: none;
}

#compchart{
    color: black;

   }
